#pages-about-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/img/Hendrik_Cornelisz._Vroom_-_Battle_of_Gibraltar_-_WGA25406-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
