#books-index-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/battle_of_kuska_by_edictiv-d47yq6v-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-link {
  cursor: pointer;
}
